<!DOCTYPE html>
<html ng-app="todoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="angular.js"></script>

    <script>
        var model = {
            user: "Tanya",
            items:[
                {action: "buy Flowers", done: false},
                {action: "Call Joe", done: true},
                {action: "Collect Tickets", done: false},
                {action: "Collect", done: false}
            ]
        };

        var todoApp = angular.module("todoApp", []);

//        todoApp.run(function($http){
//            $http.get("todo.json").success(function(data){
//                model.items = data;
//            });
//        });

        //--------filter--------
        todoApp.filter("checkedItems", function(){
           return function(items, showComplete){
               var resultArr = [];
               angular.forEach(items, function(item){
                   if(item.done == false || showComplete == true){
                       resultArr.push(item);
                   }
               });
               return resultArr;
           }
        });


        //----------------controller----------------

        todoApp.controller("ToDoCtrl", function ($scope) {
            $scope.todo = model;

            //--------count incompleted--------

            $scope.incompletedCount = function(){
                var count = 0;
                angular.forEach($scope.todo.items, function (item) {
                    if(!item.done){
                        count++
                    }
                });
                return count;
            }

            //--------warning messenger--------

            $scope.warningLevel = function(){
                return $scope.incompletedCount() < 3 ? "label-success" : "label-warning";
            }

            //--------add new item--------

            $scope.addNewItem = function(actionText){
                $scope.todo.items.push({action: actionText, done: false});
            }


        });

    </script>
</head>
<body ng-controller="ToDoCtrl">
<div class="container">
    <div class="page-header">
        <h1>{{todo.user}}'s To Do List
            <span class="label" ng-hide="incompletedCount() == 0" ng-class="warningLevel()">{{incompletedCount()}}</span>
        </h1>
    </div>

    <div class="panel">
        <div class="input-group" >
            <input type="text" class="form-control" ng-model="actionText"/>
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
        </span>
        </div>
    </div>


    <div class="checkbox-inline">
        <label>
            <input type="checkbox" ng_model="showComplete"/>Show Complete
        </label>
    </div>
    </br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Description</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
<tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy: 'action'">
    <td>{{item.action}}</td>
    <td><input type="checkbox" ng-model="item.done"/></td>
    <td>{{item.done}}</td>
</tr>
            </tbody>
        </table>

</div>
</body>
</html>