<!DOCTYPE html>
<html ng-app="sportStore">
<head lang="en">
    <meta charset="UTF-8">
    <title>SportStore</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="style.css"/>


    <script src="angular.js"></script>
    <script>
        angular.module("sportStore", ["customFilter"]);
    </script>


    <script src="controllers/sportStore.js"></script>
    <script src="filters/customFilter.js"></script>
    <script src="controllers/productListCtrl.js"></script>


</head>

<body ng-controller="sportStoreCtrl">

    <div class="navbar navbar-inverse">
        <a href="#" class="navbar-brand">Sport Store</a>
    </div>

    <div class="panel panel-default row" ng-controller="productListCtrl">
        <div class="col-xs-3">

            <a ng-click="selectCategory()"
               class="btn btn-block btn-default btn-lg">Home</a>
            <a ng-repeat="item in data.products | orderBy:'category' | unique:'category'"
               ng-click="selectCategory(item)" class=" btn btn-block btn-default btn-lg" ng-class="getCategoryClass(item)">
                {{item}}
            </a>
        </div>
        <div class="col-xs-8">
            <div class="well" ng-repeat="item in data.products | filter:categoryFilterFn">
                <h3>
                    <strong>{{item.name}}</strong>
                    <span class="pull-right label label-primary">
                        {{item.price | currency}}
                    </span>
                </h3>
                <span class="lead">
                    {{item.description}}
                </span>
            </div>
        </div>
    </div>

</body>
</html>